<ion-view view-title="修改密码">
    <ion-content>


        <div class="list" style="margin: 32px 12px;">

            <div class="item item-input" style="margin-bottom: 12px;">
                <input type="password" placeholder="请输入验证码" />
            </div>

            <div class="item item-input" style="margin-bottom: 12px;">
                <input type="password" placeholder="请输入新密码" />
            </div>
            <div class="item item-input" style="margin-bottom: 22px;">
                <input type="password" placeholder="再次输入密码" />
            </div>


            <button class="button button-block button-assertive">提交</button>

            <div class="tc positive"><small>如果未收到短信验证码请拨打电话:400-880-2880</small></div>


        </div>
    </ion-content>
</ion-view>
