<ion-view view-title="我的账户">
    <ion-content class="has-footer">

        <div class="list">
            <div class="item item-divider"> &nbsp;</div>

            <a class="item item-icon-right" href="#/app/my_order_payed">
                <span>已付款订单</span>
                <i class="icon ion-ios7-arrow-right my-arrow"></i>
            </a>

            <a class="item item-icon-right" href="#/app/my_order_unpay">
                <span>未付款订单</span>
                <i class="icon ion-ios7-arrow-right my-arrow"></i>
            </a>

            <a class="item item-icon-right" href="#/app/my_address">
                <span>地址管理</span>
                <i class="icon ion-ios7-arrow-right my-arrow"></i>
            </a>

            <a class="item item-icon-right" href="#/app/my_password">
                <span>修改密码</span>
                <i class="icon ion-ios7-arrow-right my-arrow"></i>
            </a>


        </div>
    </ion-content>

    <div class="bar bar-footer" style="background-image:none;background-color: transparent;">
        <button class="button button-block button-small button-assertive" style="margin-top: 0;">退出</button>
    </div>
</ion-view>
