<ion-view view-title="已付款订单">
    <ion-content>

        <div class="list my-order">

            <div class="item">
                <h2 class="title">比利时balabala音乐会</h2>
            </div>
            <div class="item item-borderless">
                <p>
                    <span>时间：2014-11-11 12：12</span>
                    <br />
                    <span>场馆：北京音乐厅</span>
                    <br />
                    <span>价格：120元X2张 =
                        <span class="assertive">360元</span>
                    </span>
                </p>
            </div>
            <div class="line"></div>
            <label class="item item-input item-borderless">
                <span class="input-label">收件人:</span>
                <span>王忘了</span>
            </label>

            <label class="item item-input item-borderless">
                <span class="input-label">配送地址:</span>
                <span style="word-break:break-all;white-space:normal;">北京市东城区北京市东城区北京市东城区北京市东城区</span>
            </label>

            <label class="item item-input item-borderless">
                <span class="input-label">联系电话:</span>
                <span>15899992222</span>
            </label>

        </div>

    </ion-content>
</ion-view>
