<ion-view view-title="修改密码">
    <ion-content>


        <div class="list" style="margin: 32px 12px;">
            <form ng-submit="modpassword()" name="myForm">

            <div class="item item-input" style="margin-bottom: 12px;">
                <input required type="password" ng-model="passwordData.oldpwd" placeholder="请输入原密码" />
            </div>

            <div class="item item-input" style="margin-bottom: 12px;">
                <input required type="password" ng-model="passwordData.newpwd" placeholder="请输入新密码" />
            </div>
            <div class="item item-input" style="margin-bottom: 22px;">
                <input required type="password" ng-model="passwordData.renewpwd" placeholder="再次输入密码" />
            </div>


            <button type="submit" ng-disabled="myForm.$invalid" class="button button-block button-assertive">提交</button>

            </form>
        </div>
    </ion-content>
</ion-view>
